.register {
    width: 1200px;
    max-width: 1200px;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-form input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    padding: 10px;
    width: 100%;
    height: 30px;
}

.password-input {
    display: flex;
}

.password-input img {
    cursor: pointer;
}

.selected-languages {
    display: flex;
    gap: 15px;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    padding: 10px;
    min-height: 50px;
}

.selected-language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.selected-language button {
    background-color: var(--light-grey);
    color: black;
    border: 1px solid var(--dark-grey);
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
}

.selected-language button:hover {
    filter: opacity(0.7);
}

select {
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    font-family: SF Pro Text;
}

select option {
    cursor: pointer;
}

.description {
    height: 120px;
    outline: none;
    padding: 10px;
}

.photo {
    border: none !important;
    padding: 0px !important;
    cursor: pointer;
}

input[type='file'] {
    font-family: SF Pro Text;
}

.submit {
    background-color: var(--green);
    padding: 10px 0px !important;
    height: auto !important;
    font-family: SF Pro Text;
    border: none !important;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}

.submit:hover {
    filter: opacity(0.7);
}

@media (max-width: 1200px) {
    .register {
        width: 100%;
        margin-bottom: 30px;
    }

    .register h1 {
        display: block;
        margin: 10px auto;
    }
}